/* Nền tổng thể */
.stack-pane {
    -fx-background-color: #EEE8EE;
    -fx-padding: 20px;
}

/* Tiêu đề chính */
.label {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: #1a237e;
}

/* Tiêu đề lớn */
.label[style="-fx-font-size: 19px;"] {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #0d47a1;
}

/* ComboBox và TextField */
.text-field {
    -fx-background-color: white;
    -fx-border-color: #E2BEE8;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-font-family: 'Segoe UI', sans-serif;
}

/* ComboBox và TextField khi tập trung */
.text-field:focused {
    -fx-border-color: #0d47a1;
}

/* Button (Nút bấm) */
.button {
    -fx-background-color: #ab47bc;
    -fx-text-fill: white;
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #9c27b0;
}

.button:pressed {
    -fx-background-color: #6a1b9a;
}

/* Button Save */
.save-button {
    -fx-background-color: #EB8C2D;
}

.save-button:hover {
    -fx-background-color: #BA5A0F;
}

/* Specific styling for DatePicker navigation buttons */
.date-picker .button {
    -fx-background-color: transparent;  /* Remove background color */
    -fx-padding: 2px; /* Reduce padding */
    -fx-min-width: 20px; /* Set minimum width */
    -fx-min-height: 20px; /* Set minimum height */
    -fx-font-size: 12px; /* Adjust font size */
}

.date-picker .button:hover {
    -fx-background-color: #d1c4e9;  /* Add a hover effect for the buttons */
    -fx-background-radius: 5px;
}
